@import '../../styles/mixins';

.section-title {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  gap: 14px;

  &__line {
    width: 48px;
    height: 1px;

    background: rgba(164, 22, 26, 0.6);
  }

  &__text {
    margin: 0;

    font-family: 'Marcellus', serif;
    font-weight: 400;

    font-size: 21px;
    line-height: 1.2;

    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: left;

    white-space: nowrap;

    color: rgba(211, 211, 211, 1);
  }

  @include on-tablet {
    gap: 20px;

    &__line {
      width: 120px;
    }

    &__text {
      font-size: 38px;
    }
  }

  @include on-desktop {
    gap: 24px;

    &__line {
      width: 240px;
    }

    &__text {
      font-size: 42px;
    }
  }
}