@import "../../styles/mixins";
@import "../../styles/variables";

.section-title {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;

  &__line {
    position: relative;
    z-index: 2;
    width: 48px;
    height: 1px;
    flex-shrink: 0;

    &--right {
      background: linear-gradient(
        90deg,
        var(--line-gradient-end) 0%,
        var(--line-gradient-start) 100%
      );

      box-shadow: 0 0 10px var(--line-shadow);
    }

    &--left {
      background: linear-gradient(
        90deg,
        var(--line-gradient-start) 0%,
        var(--line-gradient-end) 100%
      );

      box-shadow: 0 0 10px var(--line-shadow);
    }
  }

  &__text-wrap {
    position: relative;
    z-index: 2;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 260px;
      height: 180px;
      transform: translate(-46%, -50%);
      border-radius: 50%;

      background: radial-gradient(
        circle,
        rgba(var(--wine-glow-rgb), 0.62) 0%,
        rgba(var(--wine-glow-rgb), 0.34) 38%,
        transparent 78%
      );

      filter: blur(100px);
      z-index: -1;
      pointer-events: none;
    }
  }

  &__text {
    position: relative;
    z-index: 2;
    margin: 0;
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: left;
    color: $text-primary;
  }

  @include on-tablet {
    gap: 20px;
    justify-content: flex-start;

    &__line {
      width: 120px;
    }

    &__text-wrap {
      &::before {
        width: 360px;
        height: 240px;
        filter: blur(150px);
      }
    }

    &__text {
      font-size: 38px;
      // white-space: nowrap;
    }
  }

  @include on-desktop {
    gap: 24px;

    &__line {
      width: 240px;
    }

    &__text-wrap {
      &::before {
        width: 460px;
        height: 300px;

        filter: blur(200px);
      }
    }

    &__text {
      font-size: 42px;
      white-space: nowrap;
    }
  }
}