@import "../../styles/mixins";
@import "../../styles/variables";

.section-title {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;

  &__line {
    width: 48px;
    height: 1px;
    flex-shrink: 0;

    &--right {
      background: linear-gradient(
        90deg,
        var(--line-gradient-end) 0%,
        var(--line-gradient-start) 100%
      );

      box-shadow: 0 0 10px var(--line-shadow);
    }

    &--left {
      background: linear-gradient(
        90deg,
        var(--line-gradient-start) 0%,
        var(--line-gradient-end) 100%
      );

      box-shadow: 0 0 10px var(--line-shadow);
    }
  }

  &__text {
    margin: 0;
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 1.2;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: left;
    color: $text-primary;
  }

  @include on-tablet {
    gap: 20px;

    &__line {
      width: 120px;
    }

    &__text {
      font-size: 38px;
      white-space: nowrap;
    }
  }

  @include on-desktop {
    gap: 24px;

    &__line {
      width: 240px;
    }

    &__text {
      font-size: 42px;
    }
  }
}
