@import "@/styles/mixins";
@import "@/styles/variables";

.profile-quiz-results {
  margin-top: 80px;

  &__top {
    margin-top: 60px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 40px;
  }

  &__block {
    display: flex;
    flex-direction: column;
  }

  &__date {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 16px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 28px;
  }

  &__actions {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
  }

  &__view-all {
    @include expandable-button;
  }

  &__empty,
  &__loader,
  &__error {
    margin-top: 20px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
  }

  @include on-tablet {
    margin-top: 150px;

    &__top {
      margin-top: 80px;
    }

    &__list {
      gap: 80px;
    }

    &__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 28px;
    }
  }

  @include on-desktop {
    margin-top: 220px;

    &__top {
      margin-top: 100px;
    }

    &__list {
      gap: 100px;
    }

    &__grid {
      grid-template-columns: repeat(4, 1fr);
      gap: 32px;
    }
  }
}