.button-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;

  background: linear-gradient(
    135deg,
    rgba(102, 7, 8, 1) 0%,
    rgba(164, 22, 26, 0.8) 100%
  );

  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: rgba(211, 211, 211, 1);
  cursor: pointer;

  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 34px rgba(186, 24, 27, 0.38);
  }
}
